/* mobile device */
@media only screen and (max-width: 480px) {
  .grid-responsive {
    margin: 0 30px 30px 30px !important;
  }
  .heading-size {
    font-size: 35px !important;
  }
  .site-name {
    font-size: 50px !important;
  }
  .service-name {
    font-size: 40px !important;
  }
  .card .card-body{
    padding: 0 !important;
  }
  .rating{
    font-size: 15px !important;
  }
   
}

/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card img{
      width: 170px;
  }
  
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card img{
      width: 170px;
  }
  
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .card img{
      width: 170px;
  }
  .site-name{
    
  }
  
}
/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {
  .card img{
      width: 170px;
  }
  
}