/* mobile device */
@media only screen and (max-width: 480px) {
  .grid-responsive {
    margin: 0 30px 30px 30px !important;
  }
  .heading-size {
    font-size: 35px !important;
  }
  .site-name {
    font-size: 50px !important;
  }
  .service-name {
    font-size: 40px !important;
  }
  .card .card-body{
    padding: 0 !important;
  }
  .rating{
    font-size: 15px !important;
  }

  .search-item{
    width: 75%;
  }

  .input-item{
    width: 100%;

  }
   
}

/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card img{
      width: 170px;
  }
  .search-item{
    width: 75%;
  }
  .input-item{
    width: 100%;

  }
  
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card img{
      width: 170px;
  }
  .search-item{
    width: 50%;
  }  

  .input-item{
    width: 75%;

  }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .card img{
      width: 170px;
  }
  .search-item{
    width: 50%;
  }
  .input-item{
    width: 50%;

  }
  
}
/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {
  .card img{
      width: 170px;
  }

  .search-item{
    width: 50%;
  }
  .input-item{
    width: 50%;

  }
  
}

.card:hover{
  transform: scale(1.05) ;
  color:rgb(63, 26, 26);
  background-color:#E0FFFF;
  overflow: hidden;
  transition: transform 3s , color 3s , background-color 3s,border-radius 3s;
  border-radius: 30px;
}
 .product-card:hover{
  transform: scale(1.05) ;
  color:rgb(63, 26, 26);
  background-color:#E0FFFF;
  overflow: hidden;
  transition: transform 2s , color 3s , background-color 3s;
  

 }

 .product-cart:hover{
  transform: scale(1.2) ;
  color:rgb(255, 255, 255);
  background-color:#570808;
  overflow: hidden;
  transition:  color 3s , background-color 3s;
  font-weight: bold;
  border-radius: 30px;

 }

 .order-cart:hover{
  background-color:#dbdbdb;


 }

